<%= form_for Job.new do |f| %>

  <h3>Create a New Job</h3>

  <%= f.label "Code" %>
  <%= f.text_area :script, placeholder: "Enter ruby code here" %>
  <%= f.label :interval %>
  <%= f.select :interval, options_for_select(intervals) %>
  <%= f.label :hour %>
  <%= f.select :hour, options_for_select(hours) %>
  <%= f.label :minute %>
  <%= f.select :minute, options_for_select(minutes) %>
  <%= f.label :day_of_month %>
  <%= f.select :day_of_month, options_for_select(days_of_month) %>
  <%= f.label :month %>
  <%= f.select :month, options_for_select(months) %>
  <%= f.label :day_of_week %>
  <%= f.select :day_of_week, options_for_select(days_of_week) %>
  <%= f.submit %>

<% end %>

<% @jobs.each do |job| %>

  <p>
    Job <%= job.id%> is scheduled to run every <%= string_view_equivalent[job.interval] %>
    <%= "at the #{job.hour} hour mark" if job.hour %>
    <%= "at the #{job.minute} minute mark" if job.minute %>
    <%= "on the #{job.day_of_month.ordinalize} day of the month" if job.day_of_month %>
    <%= "in #{Date::MONTHNAMES[job.month]}" if job.month %>
    <%= "on #{Date::DAYNAMES[job.day_of_week]}s" if job.day_of_week %>
    <ul>
      <li><%= pluralize(job.outputs.successful.size, 'successful run') %></li>
      <li><%= pluralize(job.outputs.unsuccessful.size, 'failure') %></li>
      <li><%= link_to "Details", job_path(job) %> 
        | <%= link_to "Edit", edit_job_path(job) %> 
      </li>
      <li>
        <%= form_for job, method: :delete do |f| %>
          <%= button_tag "Delete" %>
        <%end%>
      </li>
    </ul>
  </p>

<% end %>