<!DOCTYPE html>
<html>
<head>
  <title>CronProjectChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <h1><%= link_to "Home", root_path %></h1>
  </div>

  <% flash.each do |key, value| %>
    <div>
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
